<a class="navbar-link" href="https://www.drostan.org">Home</a>
<a class="navbar-link" href="https://www.drostan.org/about/">About Rolf</a>
<a class="navbar-link" href="https://www.drostan.org/contact/">Contact</a>

<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">{{site.title}}</a>
  <div class="navbar-dropdown">
    {{> nav-sections }}
  </div>
</div>
